python==3.10.*
gymnasium==0.29.1
pygame==2.6.0
numpy==1.26.4
pandas==2.2.2
matplotlib==3.9.2
seaborn==0.13.2
tqdm==4.66.5
jupyterlab==4.2.5
notebook==7.2.1
ipykernel==6.29.5
nbconvert==7.16.4
pdfkit==1.0.0
reportlab==4.2.2
plotly==5.24.0
